@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  box-sizing: border-box;
  --background-blue: rgba(205, 209, 228);
  --button-blue: rgba(72, 113, 247);
  --left-sidebar-font: rgba(149, 165, 166);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--background-blue);
  font-family: "Rubik", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 0.5em;
}

.left-sidebar {
  grid-column: 1/2;
  grid-row: 1/6;
}

.search-bar {
  grid-column: 2/5;
  grid-row: 1/2;
}

.overview {
  grid-column: 2/5;
  grid-row: 2/3;
}

.staff_info {
  grid-column: 2/4;
  grid-row: 3/4;
}

.patient_covid_stats {
  grid-column: 2/4;
  grid-row: 4/5;
}

.gender_patient {
  grid-column: 2/3;
  grid-row: 5/6;
}

.group_patient {
  grid-column: 3/4;
  grid-row: 5/6;
}

.informations {
  grid-column: 4/5;
  grid-row: 3/5;
}

.poly_division {
  grid-column: 4/5;
  grid-row: 5/6;
}

.sidebar_wrapper {
  margin: 0;
  padding: 1em;
  background-color: #fff;
  min-height: 100vh;
  color: var(--left-sidebar-font);
}

.sidebar_heading {
  display: inline-block;
  vertical-align: middle;
  color: var(--button-blue);
}

.sidebar_heading span:first-of-type {
  margin-right: 0.1em;
  font-size: 0.8em;
}

.sidebar_heading span:last-of-type {
  font-size: 1.2rem;
  font-weight: bold;
}

ul {
  padding: 0;
  list-style-type: none;
}

.sidebar_management {
  padding: 0.5em;
}

.sidebar_management h2 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: normal;
}

.sidebar_management > ul {
  font-size: 0.8rem;
}

.sidebar_wrapper .sidebar_tile {
  display: flex;
  flex-direction: column;
  background-color: var(--background-blue);
  border: hidden;
  border-radius: 0.4em;
  min-height: 20vh;
  color: black;
  padding: 0.4em;
}

.sidebar_wrapper .sidebar_tile > span {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.sidebar_wrapper .sidebar_tile div {
  font-size: 0.9rem;
  margin-bottom: 0.4em;
  vertical-align: middle;
  color: var(--button-blue);
  font-weight: bold;
}

.sidebar_wrapper .sidebar_tile div > span:first-of-type {
  font-size: 0.6rem;
}

.sidebar_wrapper .sidebar_tile button {
  background-color: var(--button-blue);
  color: ivory;
  border: hidden;
  padding: 0.5em;
  border-radius: 0.2em;
  font-size: 0.8rem;
  font-weight: bold;
}

.sidebar_wrapper .sidebar_footer {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
}

.sidebar_wrapper .sidebar_footer span:first-of-type {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: black;
}

.list_style {
  padding-bottom: 0.5em;
  vertical-align: middle;
}

.list_style > a {
  text-decoration: none;
  color: var(--left-sidebar-font);
}

.list_style > a:hover {
  display: block;
  color: var(--button-blue);
}

.list_style span:first-of-type {
  font-size: 0.7rem;
  margin-right: 0.5em;
}

.list_style span:last-of-type {
  font-size: 0.9rem;
}

.Search_bar_wrapper {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.Search_bar_wrapper form {
  display: flex;
  padding: 0.5em;
}

.Search_bar_wrapper form > input {
  padding: 0.7em;
  font-size: 0.9rem;
  border: 0.1em solid var(--left-sidebar-font);
  border-bottom-left-radius: 5em;
  border-top-left-radius: 5em;
}

.Search_bar_wrapper form > select {
  border: 0.1em solid var(--left-sidebar-font);
  border-bottom-right-radius: 5em;
  border-top-right-radius: 5em;
  padding: 0.7em;
  font-weight: bold;
}

.Search_bar_wrapper form > select > option {
  color: var(--left-sidebar-font);
}
